html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff00;
}
.upLoadFile {
    margin: auto;
    font-size: large;
    margin-top: 20px;
}
.u10{
    width: 800px;
    line-height: 40px;
    font-size: large;
}