<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.wyc.dao.QueryFileMapper">
	<select id="getFileList" resultMap="fileResultMap">
		SELECT U.U_NAME,U.U_ID,F.F_ID,F.F_NAME,F.F_DATE,F.F_URL,D.D_VALUE,F.F_SCORE FROM T_FILE F
		INNER JOIN T_DICT D ON
		F.F_STATE=D.D_CODE AND D.D_TYPE='FILESTATE'
		INNER JOIN T_USER U ON U.U_ID=F.U_ID
		<where>
			<if test="fileName !=null and fileName!=''">
				AND F.F_NAME LIKE CONCAT(CONCAT('%',#{fileName,jdbcType=VARCHAR}),'%')
			</if>
			AND F.F_STATE=2
		</where>
		ORDER BY F.F_DATE DESC
	</select>

	<!-- 根据ID查询用户信息 -->
	<select id="getUserInfoById" resultMap="userResultMap">
		SELECT * FROM T_USER WHERE U_ID=#{id}
	</select>

	<update id="userScoreChange">
		UPDATE T_USER SET U_SCORE=#{score} WHERE U_ID=#{userId}
	</update>

	<insert id="insertScoreLog" parameterType="org.wyc.model.ScoreLog">
		INSERT INTO T_SCORE_LOG(SL_ID,U_ID,SL_SCORE,SL_INCIDENT,SL_CTIME)
		VALUES (SEQ_T_SCORE_LOG.NEXTVAL,#{userId},#{score},#{incident},SYSDATE)
	</insert>

	<resultMap type="org.wyc.model.File" id="fileResultMap">
		<result property="id" column="F_ID" />
		<result property="userId" column="U_ID" />
		<result property="name" column="F_NAME" />
		<result property="url" column="F_URL" />
		<result property="state" column="F_STATE" />
		<result property="date" column="F_DATE" javaType="java.sql.Timestamp" />
		<result property="space1" column="D_VALUE" />
		<result property="space2" column="U_ID" />
		<result property="space3" column="U_NAME" />
		<result property="fileScore" column="F_SCORE" />
	</resultMap>

	<resultMap type="org.wyc.model.ClientUser" id="userResultMap">
		<result property="id" column="U_ID" />
		<result property="account" column="U_ACCOUNT" />
		<result property="name" column="U_NAME" />
		<result property="password" column="U_PASSWORD" />
		<result property="stateStr" column="STATE" />
		<result property="score" column="U_SCORE" />
		<result property="createTime" column="U_CTIME" javaType="java.sql.Timestamp" />
		<result property="state" column="U_STATE" />
	</resultMap>
</mapper>